body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.mouse {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
}

div > input {
    margin: 10px;
}

.anime {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    background-color: aqua;
    position: absolute;
    top: 240px;
    left: 450px;
    transition: all 1s ease-in-out;

}

.color {
    margin: 10px 20px;
    width: 100px;
}

.login {
    margin: 10px 10px;
}

textarea {
    display: block;
    margin: 10px;
    width: 200px;
    height: 200px;
}

span {
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
}