.black {
    width: 806px;
    height: 806px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 200px 400px 200px;
    box-sizing: border-box;
}
.header {
    width: 800px;
    height: 200px;
    border: 3px solid red;
    box-sizing: border-box;
    grid-column: 1/3;
    grid-row: 1;
}
.nav {
    width: 100px;
    height: 400px;
    border: 3px solid orangered;
    box-sizing: border-box;
    grid-column: 1;
    grid-row: 2;
}
.section {
    width: 700px;
    height: 400px;
    border: 3px solid orangered;
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 2;
    padding: 1rem 2rem;
}
.footer {
    width: 800px;
    height: 200px;
    border: 3px solid gray;
    box-sizing: border-box;
    grid-column: 1/3;
    grid-row: 3;
    padding: 1rem 2rem;
}