* {
    font-size: 20px;
}

.input {
    width: 200px;
    height: 30px;
    background-color: ;
}

.user {
    margin: 10px 0;
}

.btn {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    
}