body {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

