.main {
    margin: 20px auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.main > div {
    width: 200px;
    height: 250px;
    border: 3px solid black;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px, 0 0 10px;
}

.main > div > p {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Square Peg', cursive;
    padding-left: 10px;
}