body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

button {
    position: absolute;
    top: 50px;
    left: 50px;
}

.container {    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 60%;
    height: 60%;    
    border-color: 3px solid black;    
}

.section {
    width: 100%;
    height: 5px;
}

.circle {    
    border-radius: 50%; 
    margin:4px;
}